
.icon-lock-open:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-edit-alt:before { content: '\e805'; } /* '' */
.icon-pencil-alt:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-laptop:before { content: '\e808'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */